@import '~@blueprintjs/core/lib/scss/variables';
body {
  background-color: $light-gray4;
  margin-top: 0;
  margin-bottom: 0;
}

/* Grid overrides */
.container {
  width: 100%;
}
/*******************/
